<div class="row mt-2">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <nav class="bd-links">
            <div class="bd-toc-item active bd-sidenav-active">
                <a class="bd-toc-link" href="/docs/4.1/getting-started/introduction/">
                    Details
                </a>
            </div>
            <div class="bd-toc-item ">
                <a class="bd-toc-link" href="/docs/4.1/getting-started/introduction/">
                    Users
                </a>
            </div>
            <div class="bd-toc-item">
                <a class="bd-toc-link" href="/docs/4.1/getting-started/introduction/">
                    Card collections
                </a>
            </div>

        </nav>
    </div>
    <main class="col-12 col-md-3 col-xl-10">
        <div *ngIf="companyDetail">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{ companyDetail.name }}</h5>
                    <div class="col-sm-6 float-left">
                        <p class="card-text" title="{{ companyDetail.description }}">
                            {{ companyDetail.description }}
                        </p>
                        <div><b>Site URL:</b> <a href="{{ companyDetail.url }}" target="_blank"> {{ companyDetail.url }}
                            </a></div>
                        <div><b>User Count:</b> {{ companyDetail.userCount }}</div>
                    </div>
                    <img class="col-sm-6 float-right" style="border-radius: 2.25rem;" src="{{companyDetail.img}}"
                        alt="Card image cap">
                </div>
            </div>
        </div>
    </main>
</div>