<div class="row mt-2">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <nav class="bd-links">
            <div class="bd-toc-item">
                <a class="bd-toc-link" [routerLink]="['/']">
                    Tiny URL
                </a>
            </div>
            <div class="bd-toc-item ">
                <a class="bd-toc-link" [routerLink]="['/cards']">
                    Cards
                </a>
            </div>
            <div class="bd-toc-item  active bd-sidenav-active">
                <a class="bd-toc-link" [routerLink]="['/groups']">
                    Groups
                </a>
            </div>
            <div class="bd-toc-item ">
                <a class="bd-toc-link" [routerLink]="['/company-groups']">
                    Company Groups
                </a>
            </div>
        </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-10">
        sas Groups
    </main>
</div>